.loader {
    position: fixed;
    top: 40%;
    left: 30%;
    padding: 50px;
    border: 10px solid rgb(200, 200, 200);
    border-top-color: rgb(50, 180, 50);
    animation: spin 2s linear infinite;
    border-radius: 50%;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (min-width: 450px) {
    .loader {
        padding: 70px;
        border-width: 12px;
        left: 35vw;
    }
}
@media screen and (min-width: 850px) {
    .loader {
        left: 38vw;
    }
}
@media screen and (min-width: 1200px) {
    .loader {
        padding: 90px;
        border-width: 15px;
        left: 42vw;
    }
}