body {
    margin: 0;
}

nav {
    width: 100vw;
    position: fixed;
    padding-top: 10px;
    overflow: hidden;
    z-index: 10;
}
nav a {
    text-decoration: none;
    color: rgb(50, 180, 50);
    padding: 10px;
    text-align: center;
}
.collapseMenu ul {
    text-align: center;
}
.collapseMenu li {
    list-style-type: none;
    display: inline-block;
    font-size: 25px;
    padding: 10px;
}
li>.active+.activeLine {
    margin: auto;
    margin-top: 10px;
    padding: 2px;
    background-color: rgb(2, 100, 2);
    opacity: 0.5;
    border-radius: 20px;
    width: 100%;
}
.mainLink {
    font-size: 50px;
    float: left;
    margin-top: 5px;
}
.collapseMenu {
    display: inline-block;
}

.hambergBtn {
    display: none;
    margin-right: 5vw;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 30px;
    right: 10px;
    z-index: 200;
}
button .fa {
    color: rgb(50, 180, 50);
    font-size: 40px;
}

.mainImg {
    background-image: url("../img/background_green.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    z-index: -100;
}

.mainImg img {
    max-width: 40vw;
    max-height: 80vh;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.titleText {
    font-size: 130px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    width: 50vw;
}

@media screen and (max-width: 1000px) {
    .collapseMenu {
        display: none;
        background-color: #000;
        opacity: 0.9;
        height: 100vh;
        position: fixed;
        top: 90px;
        left: 0;
        z-index: -11;
    }
    .collapseMenu ul {
        width: 100vw;
        padding: 0;
    }
    .collapseMenu li {
        display: block;
        line-height: 15vh;
    }
    .hambergBtn {
        display: block;
    }
}
@media screen and (max-width: 600px) {
    .mainLink {
        font-size: 30px;
    }
    button .fa {
        font-size: 25px;
    }
}
